.b3__admin {
    max-width: 90%
}

/* TABS */
.b3__tabs {
    background: white;
    margin-top: 2em;
    max-width:  60%;
}

.b3__tab-header {
    overflow:         hidden;
    border:           1px solid #ccc;
    background-color: #f1f1f1;
}

.b3__tab-header .b3__tab-button {
    background-color: inherit;
    float:            left;
    border:           none;
    outline:          none;
    cursor:           pointer;
    padding:          14px 16px;
    transition:       0.3s;
}

.b3__tab-header .dashicons {
    font-size:    15px;
    margin-right: 5px;
    width:        10px;
    height:       10px;
}

.b3__tab-header button:hover {
    background-color: #ddd;
}

.b3__tab-header button.active {
    background-color: #ccc;
}

.b3__tab-content {
    display:    none;
    padding:    1.5em;
    border:     1px solid #ccc;
    border-top: none;
}

.b3__tab-content h2,
.b3__tab-content h3 {
    margin: 0 0 1.5em 0;
}

.b3__foldout--header {
    background:      #F8F8F8;
    display:         flex;
    flex-flow:       row nowrap;
    justify-content: space-between;
    font-weight:     bold;
}

.b3 .handlediv {
    background:     #F8F8F8;
    text-align:     center;
    vertical-align: middle;
    padding-top:    10px;
    box-sizing:     border-box;
}

.b3__expand {
    text-align: right;
    width:      20px;
    background: pink;
}

.b3__tab-content ul {
    margin-block-start: 0;
    margin-block-end:   0;
    list-style:         disc;
    margin:             15px 0;
    padding-left:       1.5em;
}

.b3__table {
    width: 100%;
}

.b3 table.b3__table th,
.b3 table.b3__table td {
    text-align:     left;
    vertical-align: middle;
}

.b3__message {
    border:  1px dashed black;
    padding: 5px 10px;
}

/* Pages pages */
.b3__select-page {
    width:         100%;
    margin-bottom: 1em;
    display:       flex;
    flex-flow:     row nowrap;
}

.b3__select-page__label {
    font-weight:  bold;
    margin-right: 1em;
    min-width:    250px;
}

.b3__select-page__selector {
    min-width: 250px;
}

/* Dashboard widget */
.b3__widget--dashboard ul {
    list-style:   disc;
    padding-left: 17px;
}

/* Settings page */
.b3__settings-field {
    margin-bottom: 1em;
}

.b3__settings-label {
    font-weight:   bold;
    font-size:     1.25em;
    margin-bottom: 0.5em;
}

.b3__settings-input {
}

.b3__settings-input--radio {
    margin-bottom: 0.5em;
}

/* Emails page */
.b3 table.b3__table--emails th {
    padding-top: 0.5em;
    width:       250px;
}

.b3 table.b3__table--emails th,
.b3 table.b3__table--emails td {
    padding-top: 2em;
}

.b3 table.b3__table--emails tr:first-child th,
.b3 table.b3__table--emails tr:first-child td {
    padding-top: 0;
}

.b3 table.b3__table--emails th.align-top {
    vertical-align: top;
}

.b3 table.b3__table--emails tr.b3__description-row th,
.b3 table.b3__table--emails tr.b3__description-row td {
    padding-top: 0;
}

.b3__input--description {
    font-style: italic;
    margin-top: 0.5em;
}

.b3__inside {
    padding: 1em 12px 12px 12px;
}


.b3__user-table {
    width:     50%;
    max-width: 100%;
}

.b3__user-table th {
    text-align: left;
}

/* Form styling */
.b3 input[type="text"],
.b3 input[type="password"],
.b3 input[type="checkbox"],
.b3 input[type="email"],
.b3 input[type="text"],
.b3 input[type="url"],
.b3 select,
.b3 textarea {
}

.b3 input[type="text"],
.b3 input[type="password"],
.b3 input[type="email"],
.b3 input[type="text"],
.b3 input[type="url"],
.b3 textarea {
    width: 100%;
}

.b3 textarea,
.b3 input,
.b3 select {
    font-size: 14px;
    padding:   6px 10px;
}


/* Because load-styles.php is not loaded */
.metabox-handler .b3__foldout--header,
.metabox-handler > h3,
.metabox-handler .stuffbox > h3,
.metabox-handler h2.hndle,
.metabox-handler h3.hndle {
    font-size:   14px;
    padding:     8px 12px;
    margin:      0;
    line-height: 1.4;
}

.hidden {
    display: none;
}
