.b3__admin {
}

/* TABS */
.b3__tabs {
    background: white;
    margin-top: 2em;
    max-width:  60%;
}

.b3__tab-header {
    overflow:         hidden;
    border:           1px solid #ccc;
    background-color: #f1f1f1;
}

.b3__tab-header .b3__tab-button {
    background-color: inherit;
    float:            left;
    border:           none;
    outline:          none;
    cursor:           pointer;
    padding:          14px 16px;
    transition:       0.3s;
}

.b3__tab-header .dashicons {
    font-size:    15px;
    margin-right: 5px;
    width:        10px;
    height:       10px;
}

.b3__tab-header button:hover {
    background-color: #ddd;
}

.b3__tab-header button.active {
    background-color: #ccc;
}

.b3__tab-content {
    display:    none;
    padding:    1.5em;
    border:     1px solid #ccc;
    border-top: none;
}

.b3__tab-content h2 {
    margin: 0 0 1.5em 0;
}

.b3__tab-content ul {
    list-style:   disc;
    padding-left: 1.5em;
}

.b3__message {
    border:  1px dashed black;
    padding: 5px 10px;
}

.b3__select-page {
    width:         100%;
    margin-bottom: 1em;
    display:       flex;
    flex-flow:     row nowrap;
}

.b3__select-page__label {
    font-weight:  bold;
    margin-right: 1em;
    min-width:    250px;
}

.b3__select-page__selector {
    min-width: 250px;
}

.b3__widget--dashboard ul {
    list-style:   disc;
    padding-left: 17px;
}

.b3__settings-field {
    margin-bottom: 1em;
}

.b3__settings-label {
    font-weight:   bold;
    font-size:     1.25em;
    margin-bottom: 0.5em;
}

.b3__settings-input {
}

.b3__settings-input--text input[type="text"] {
    width: 300px;
}

.b3 input[type="text"],
.b3 input[type="password"],
.b3 input[type="checkbox"],
.b3 input[type="email"],
.b3 input[type="text"],
.b3 input[type="url"],
.b3 select,
.b3 textarea {
}

.b3 textarea,
.b3 input,
.b3 select {
    font-size: 14px;
    padding:   6px 10px;
}
