.no-js .hide-if-no-js,
.js .hide-if-js {
    display: none;
}

button,
input,
select,
textarea {
    /* copied from twentytwelve */
    border:        1px solid #ccc;
    border-radius: 3px;
    font-family:   inherit;
    padding:       6px;
    padding:       0.428571429rem;
}

select {
    max-width: 100%;
}

/* Error message */
.b3_message {
    border:        1px dashed black;
    box-sizing:    border-box;
    margin-bottom: 1em;
    padding:       5px 10px;
    position:      relative;
    word-wrap:     initial;
}

.b3_message p {
    margin: 0;
}

/* used on front-end profile only */
.b3_message .error__close {
    position:      absolute;
    font-size:     80%;
    top:           0;
    right:         0;
    padding-top:   0.5em;
    padding-right: 1em;
}

.b3_message .error__close:hover {
    cursor: pointer;
}

/* Forms */
.b3_page form {
    width: 100%;
    max-width: 600px;
}

.b3_page form input[type="text"],
.b3_page form input[type="email"] {
    box-sizing: border-box;
}

.b3_page form input[name="b3_delete_account"] {
    vertical-align: middle;
}

.b3_page form .password-hint,
.b3_page form .rememberme-wrap {
    margin-bottom: 2em;
}

.b3_page form input#rememberme {
    margin-left: 0;
}

.b3_page p.rememberme {
    margin-top: 1rem;
}

.b3_page .b3_form-label {
    display:        inline-block;
    width:          220px;
}

.b3_page .b3_form-element--checkbox .b3_form-label,
.b3_page .b3_form-element--radio .b3_form-label {
    vertical-align: top;
}

.b3_page .b3_form-element--textarea .b3_form-label {
    margin-top: 10px;
}

/* Label on password reset input */
.b3_page .b3_form-label--email {
    width: 150px;
}

.b3_form-element {
    /* @TODO: check this in sandbox and on custom and WP form */
    /*margin-bottom: 2em;*/
    margin-top: 2em;
}

.b3_form-element:first-of-type {
    margin-top: 0;
}

.b3_page .b3_form-element--submit {
    margin-bottom: 1em;
}

.b3_input-options {
    display: inline-block;
}

/* Links in form footer */
ul.b3_form-links {
    list-style:   none;
    padding-left: 0;
    position:     relative;
}

ul.b3_form-links li {
    border-right:  1px solid grey;
    display:       inline-block;
    line-height:   1;
    margin-left:   0;
    padding-left:  1em;
    padding-right: 1em;
}

ul.b3_form-links li:first-child {
    padding-left: 0;
}

ul.b3_form-links li:last-child {
    border-right: 0;
}

/* User approval page */
.b3_table--user th {
    text-align: left;
}

.b3_table--account tr td:first-child {
    width: 75px;
}

/* Password strength */
#pass-strength-result {
    background-color: #eee;
    border:           1px solid #ddd;
    color:            #23282d;
    font-weight:      600;
    margin:           -1px 0 1.5em;
    padding:          3px 5px;
    text-align:       center;
    width:            100%;
    opacity:          0;
}

#pass-strength-result.short {
    background-color: #f1adad;
    border-color:     #e35b5b;
    opacity:          1;
}

#pass1.short,
#pass1-text.short {
    border-color: #e35b5b;
}

#pass-strength-result.bad {
    background-color: #fbc5a9;
    border-color:     #f78b53;
    opacity:          1;
}

#pass1.bad,
#pass1-text.bad {
    border-color: #f78b53;
}

#pass-strength-result.good {
    background-color: #ffe399;
    border-color:     #ffc733;
    opacity:          1;
}

#pass1.good,
#pass1-text.good {
    border-color: #ffc733;
}

#pass-strength-result.strong {
    background-color: #c1e1b9;
    border-color:     #83c373;
    opacity:          1;
}

#pass1.strong,
#pass1-text.strong {
    border-color: #83c373;
}

.pw-weak {
    display: none;
}

.indicator-hint {
    padding-top: 8px;
}

#pass1,
#pass1-text {
    max-width: 100%;
}

#pass1-text,
.show-password #pass1 {
    display: none;
}

.show-password #pass1-text {
    display: inline-block;
}

/* Admin topbar notification for user approval */
#wpadminbar .topbar_approve_user a.ab-item {
    color: #ee6102;
}

/* Misc */
.widget .widget-no-settings {
    border:  1px dashed red;
    padding: 5px 10px;
}

.hidden {
    display: none;
}

/* Media queries */
@media screen and ( min-width: 480px ) {
    .b3_table--account tr td:first-child {
        width: 150px;
    }
}
@media screen and ( min-width: 640px ) {
    .b3_table--account tr td:first-child {
        width: 175px;
    }
}
@media screen and ( min-width: 1024px ) {
    .b3_table--account tr td:first-child {
        width: 200px;
    }
}
