body {
    font-family: Arial, Verdana, sans-serif;
    margin:      0;
    padding:     0;
}

table {
    border-spacing: 0;
}

table#main {
    width:  100%;
    height: 100%;
}

table td {
    padding: 0;
}

table td.footer {
    padding-top: 10px;
}

table.contenttable {
    width:      600px;
    padding:    20px;
    background: #ffffff;
}

.header {
    margin-top: 20px;
}

.header img {
    max-width: 200px;
    height:    auto;
}

table.mailcontent {
    padding-top:   0;
    margin-bottom: 20px;
}

img.headerimage {
    max-width:     200px;
    height:        auto;
    margin-bottom: 15px;
}

.contentheader {
    margin-top:     10px;
    margin-bottom:  10px;
    padding-bottom: 10px;
}

.button {
    text-align:    left;
    margin-top:    10px;
    margin-bottom: 15px;
}

.button span {
    background-color: #e0144b;
    color:            white;
    border-radius:    5px;
    padding:          10px;
}

.button span a {
    color:           white;
    text-decoration: none;
}

table.bank-info tr td:first-child {
    padding-right: 2em;
}

table.email-ads {
    margin-top:    10px;
    margin-bottom: 20px;
}

table.email-ads td {
    padding-right:  5px;
    padding-bottom: 5px;
}

table.email-ads td img {
    border: 1px solid #e0144b;
}

.underline {
    text-decoration: underline;
}

p.paymentinfo {
    border:  2px dotted #e0144b;
    padding: 5px;
    clear:   both;
}

.hr {
    width:         100%;
    border-bottom: 1px solid #444444;
    margin:        0;
}

div.hr {
    margin-top: 10px;
}

a:link, a:visited, a:active {
    color:           #e0144b;
    text-decoration: none;
}

.hidden {
    display: none;
}
