body {
    font-family: Arial, Verdana, sans-serif;
    margin:      0;
    padding:     0;
}

table {
    border-spacing: 0;
}

table#b3_email_main {
    width:  100%;
    height: 100%;
}

table td {
    padding: 0;
}

table.b3_email_content_table:first-child {
    margin-top: 20px;
}

table.b3_email_content_table {
    width:      600px;
    padding:    20px 20px 0 20px;
    background: #ffffff;
}

table.b3_email_content_table:last-child {
    margin-bottom:  20px;
    padding-bottom: 20px;
}

table td.b3_email_footer {
    padding-top: 10px;
}

.b3_email_header img {
    max-width:     200px;
    height:        auto;
    margin-bottom: 20px;
}

img.b3_header_image {
    max-width:     200px;
    height:        auto;
    margin-bottom: 15px;
}

.underline {
    text-decoration: underline;
}

.hr {
    width:         100%;
    border-bottom: 1px solid #444444;
    margin:        0;
}

div.hr {
    margin-top: 10px;
}

a:link,
a:visited,
a:active {
    color:           #e0144b;
    text-decoration: none;
}

.hidden {
    display: none;
}
