body {
    font-family: Arial, Verdana, sans-serif;
    margin:      0;
    padding:     0;
}

table {
    border-spacing:  0;
    border-collapse: collapse;
    width:           100%;
}

table td {
    padding: 0;
}

table#b3_email_main {
    background: #eeeeee;
    font-size:  14px;
    height:     100%;
}

.wp-admin table#b3_email_main {
    border: 1px solid #444;
}

table.b3_email_content_table:first-child {
    margin-top: 20px;
}

table.b3_email_content_table {
    width:      600px;
    margin:     0 auto;
    background: #ffffff;
}

table.b3_email_content_table:last-child {
    margin-bottom: 20px;
}

table.b3_email_content_table td {
    padding: 0 10px;
}

table.b3_email_header td {
    padding-bottom: 10px;
    text-align: center;
}

table td.b3_email_footer {
    padding-top: 10px;
}

table td.b3_email_content {
    vertical-align: top;
}

.b3_email_header img {
    max-width: 150px;
    height:    auto;
}

.underline {
    text-decoration: underline;
}

.hr {
    width:         100%;
    border-bottom: 1px solid #444444;
    margin:        0;
}

div.hr {
    margin-top: 10px;
}

a:link,
a:visited,
a:active {
    color:           #e0144b;
    text-decoration: none;
}

.hidden {
    display: none;
}
